@{
    Layout = null;
}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/ext/resources/css/ext-all-neptune.css"))" />
        <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/Site.css"))" />
      
	    <script type="text/javascript" src="@(Url.Content("~/Content/ext/ext-all-debug.js"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Direct?ns=RPC"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Scripts/AppUtil.js"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Scripts/AppCommonData.js"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Scripts/Admin.js"))"></script>
    </head>
    <body>
        
    </body>
</html>