@{
    Layout = null;
}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/ext/resources/css/ext-all.css"))" />
        <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/Site.css"))" />
        <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/portal.css"))" />
        <link rel="stylesheet" type="text/css" href="@(Url.Content("~/Content/statusbar.css"))" />

	    <script type="text/javascript" src="@(Url.Content("~/Content/ext/ext-all.js"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Direct?ns=RPC"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Scripts/AppUtil.js"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Scripts/AppCommonData.js"))"></script>
        <script type="text/javascript" src="@(Url.Content("~/Scripts/Application.js"))"></script>

    </head>
    <body style="">
        <div style="text-align:center;width:100%;height:100%">
			<img style="margin-top:200px;display:inline;" src="@(Url.Content("~/Content/img/bigload.gif"))" ></img>
		</div>
    </body>
</html>